@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
}
body a {
  text-decoration-line: none;
}

header {
  width: 100%;
  height: 750px;
  background-image: url(/assets/img/photos/image-header.jpg);
  background-size: cover;
  text-align: center;
}
header #menu {
  margin: 20px;
  padding: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header #menu #logo {
  float: left;
}
header #menu nav {
  width: 400px;
  display: flex;
  flex-direction: row;
}
header #menu nav a {
  font-size: 15px;
  border-radius: 15px;
  display: block;
  width: 25%;
  height: 25px;
  color: hsl(0, 0%, 100%);
}
header #menu nav a:hover {
  font-size: 18px;
  background-color: hsl(0, 0%, 100%);
  color: hsl(212, 27%, 19%);
}
header h1 {
  margin-top: 100px;
  color: aliceblue;
  font-size: 72px;
}
header #icon-arrow-down {
  margin-top: 150px;
}

main article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main article main {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 30px;
  text-align: left;
}
main article main h2 {
  display: block;
  width: 40%;
}
main article main p {
  display: block;
  width: 50%;
  font-size: 15px;
  color: hsl(213, 9%, 39%);
  margin-left: 10%;
}
main article main #yellowSubline {
  width: 20%;
  height: 10px;
  border-radius: 10px;
  background-color: hsl(51, 100%, 49%);
  z-index: -1;
  position: relative;
  bottom: 37px;
  opacity: 0.5;
}
main article main #redSubline {
  width: 20%;
  height: 10px;
  border-radius: 10px;
  background-color: hsl(7, 99%, 70%);
  z-index: -1;
  position: relative;
  bottom: 37px;
  opacity: 0.5;
}
main article img {
  width: 50%;
}
main article a {
  color: hsl(212, 27%, 19%);
  text-decoration-line: none;
  font-size: 24px;
}
main #footer-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
main #footer-section article {
  width: 50%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: hsl(212, 27%, 19%);
}
main #footer-section article p {
  display: block;
  width: 49%;
  word-break: break-all;
}
main #footer-section #footer-article-left {
  background-image: url(/assets/img/photos/image-graphic-design.jpg);
  color: hsl(167, 40%, 24%);
}
main #footer-section #footer-article-right {
  background-image: url(/assets/img/photos/image-gallery-orange.jpg);
  color: hsl(198, 62%, 26%);
}
main #footer-section #title-client-testimonials {
  width: 100%;
  text-align: center;
  margin-top: 130px;
  margin-bottom: 20px;
  color: hsl(210, 4%, 67%);
}
main #footer-section #client-testimonials {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
main #footer-section #client-testimonials article {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
main #footer-section #client-testimonials article img {
  width: 15%;
  border-radius: 50%;
}
main #footer-section #client-testimonials article .comment {
  font-size: 13px;
  display: block;
  width: 50%;
}
main #footer-section #client-testimonials article .footer-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
main #footer-section #client-testimonials article .footer-div .job {
  color: hsl(210, 4%, 67%);
  font-size: 12px;
}
main #footer-section #gallery-picture {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
main #footer-section #gallery-picture img {
  width: 25%;
}

footer {
  height: 300px;
  position: relative;
  bottom: 0;
  background-color: hsl(168, 34%, 41%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
footer h2, footer a {
  color: hsl(167, 40%, 24%);
}
footer section {
  display: flex;
  margin: 15px;
}
footer #footer-menu {
  gap: 50px;
}
footer #social-links {
  gap: 30px;
}/*# sourceMappingURL=style.css.map */