@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

$blueDesatured : hsl(212, 27%, 19%);
$white: hsl(0, 0%, 100%);

$softRed: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$darkDesaturatedCyan: hsl(167, 40%, 24%);
$DarkBlue : hsl(198, 62%, 26%);
$darkModerateCyan : hsl(168, 34%, 41%);

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 18px;
    font-family: "Barlow", sans-serif;
    font-weight: 700;


    a {
        text-decoration-line: none;
    }
}

header {
    width: 100%;
    height:750px;
    background-image: url(../img/photos/image-header.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;

    #menu {
        margin: 20px;
        padding: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        #logo {
            float: left;
        }
        #menu-hamburger {
            display: none;
        }
        nav {
            width: 400px;
            display: flex;
            flex-direction: row;
            a{
                font-size: 15px;
                border-radius: 15px;
                display: block;
                width: 25%;
                height: 25px;
                color: $white;

                &:hover {            
                    font-size: 18px;
                    animation-name: showHover;
                    animation-duration: 1s;
                    transition: ease-in;
                    
                }
                @keyframes showHover {
                    from {
                        background-color: none;
                        color: $white;
                    }
                    to {
                        background-color: $white;
                        color: $blueDesatured;
                    }
                    
                }
            }
            
                
            }
        }
        h1 {
            margin-top: 100px;
            color: aliceblue;
            font-size: 72px;
        }
        #icon-arrow-down {
            margin-top: 150px;
        }
        
}

    

main {
    article {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        main {
            width: 50%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            gap: 30px;
            text-align: left;

            h2 {
                display: block;
                width: 40%;
                
            }
            p {
                display: block;
                width: 50%;
                font-size: 15px;
                color: hsl(213, 9%, 39%);
                margin-left: 10%;
            }

            #yellowSubline {
                width: 20%;
                height: 10px;
                border-radius: 10px;
                background-color: $yellow;
                z-index: -1;
                position: relative;
                bottom: 37px;
                opacity: 0.5;
            }

            #redSubline {
                width: 20%;
                height: 10px;
                border-radius: 10px;
                background-color: $softRed;
                z-index: -1;
                position: relative;
                bottom: 37px;
                opacity: 0.5;
            }
        }

        img {
            width: 50%;
        }

        a {
            color: $blueDesatured;
            text-decoration-line: none;
            font-size: 24px;
        }
    }

    #footer-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        article {
            width: 50%;
            height: 500px;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content:flex-end;
            gap: 30px;
            padding-bottom: 30px;
            text-align: center;
            color: $blueDesatured;

            p {
                display: block;
                width: 49%;
                word-break: break-all;
            }
        }
        #footer-article-left {
            background-image: url(assets/img/photos/image-graphic-design.jpg);
            color: $darkDesaturatedCyan;
        }
    
        #footer-article-right {
            background-image: url(assets/img/photos/image-photography.jpg);
            color: $DarkBlue;
        }
        #title-client-testimonials {
            width: 100% !important;
            text-align: center !important;
            margin-top: 130px;
            margin-bottom: 20px;
            color: hsl(210, 4%, 67%);
        }

        #client-testimonials {
            width: 100%;
            height: 500px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            
            article {
                width: 33%;
                height: 100%;
                display: flex;
                justify-content: space-around;
                img {
                    width: 15%;
                    border-radius: 50%;
                }
                .comment {
                    font-size: 13px;
                    display: block;
                    width: 50%;
                }
                .footer-div {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;

                    .job {
                        color: hsl(210, 4%, 67%);
                        font-size: 12px;
                    }
                }
            }
            
        }

        #gallery-picture {
            width: 100%;
            
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            img {
                width: 25%;
            }
        }
    }
    
}

footer {
    height: 300px;
    position: relative;
    bottom: 0;
    background-color: $darkModerateCyan;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    h2, a {
        color: $darkDesaturatedCyan;
    }

    section {
        display: flex;
        margin: 15px;
    }

    #footer-menu {
        gap: 50px;
        
    }

    #social-links {
        gap: 30px;
    }
}

@media screen and (max-width: 600px) {
    body {
        header {
            width: 100%;
            height: 900px;
            background-image: url(../img/photos/image-header.jpg);
            background-size: cover;
            background-position: center;
            text-align: center;
            #menu {
                width: 90%;
                height: max-content;
                flex-wrap: wrap;
                position: fixed;
                z-index: 3;
                margin-bottom: 50px;
                #menu-hamburger {
                    display: block;
                    float: right;
                }
                &:hover {
                    #menu-hamburger{
                        filter: grayscale(2);
                    }
                    nav {
                        width: 100%;
                        margin-top: 100px;
                        padding: 20px;
                        background-color: $white;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        border-right: $white solid 20px;
                        border-top: #38bdfb solid 20px;
                        text-align: center;
                        a {
                            display: block;
                            width: 40%;
                            height: 40px;
                            padding: 10px;
                            margin: 20px;
                            border-radius: 30px;
                            color: $blueDesatured;
                        }
                        a:nth-child(4) {
                            background-color: $yellow;
                        }
                    }
                }
                nav {
                    display: none;
                }
            }
            h1 {
                margin-top: 150px;
            }
            #icon-arrow-down {
                margin-top: 50px;
            }
        }
        main {
            article {
                width: 100%;
                main {
                    width: 100%;
                }
                img {
                    width: 100%;
                }

                #yellowSubline {
                    width: 40%;
                }
    
                #redSubline {
                    width: 40%;
                }
            }
            #first-article {
                flex-direction: column-reverse;
            }
            #second-article {
                flex-direction: column;
            }
        }
    
        #footer-section {
            flex-direction: column;
            flex-wrap: nowrap;
    
            #footer-article-left, #footer-article-right {
                width: 100%;
                background-position: center;
                p {
                    width: 80%;
                }
    
            }
        }
        #title-client-testimonials {
            margin-top: 20px !important;
            margin-bottom: 20px;
            
        }
    
        #client-testimonials {
            width: 100%;
            height: 900px !important;
            flex-direction: column !important;
            
            .client {
                width: 100% !important;
                height: 300px;
                margin-top: 15px !important;
                img {
                    width: 20% !important;
                    border-radius: 50%;
                }
            }
            
        }

        #gallery-picture {
            width: 100%;
            height: 300px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            img {
                width: 50% !important;
                height: 50% !important;
            }
        }

        footer {
        
            section {
                display: flex;
                margin: 15px;
            }
        
            #footer-menu {
                gap: 15px;
                
            }
        
            #social-links {
                gap: 30px;
            }
        }

    }
    
}
